<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="student">
  <insert id="insertStudent">
    insert into student values(1, '유병승', '0101111111', 'prince0333@naver.com',
                               '경기도 시흥시', SYSDATE)
  </insert>
  <insert id="insertStudent2" parameterType="_int">
    insert into student values(#{no}, '유병승', '0101111111', 'prince0333@naver.com',
                               '경기도 시흥시', SYSDATE)
  </insert>
  <insert id="insertName" parameterType="string">
    insert into student values(seq_student.nextval, #{name}, '010',
                               'aaa@bs.com', '경기도 시흥', SYSDATE)
  </insert>
  <insert id="insertStudentAll"
    parameterType="com.mybatis.model.vo.Student">
    insert into student values(seq_student.nextval, #{studentName}, #{studentTel}, #{studentEmail}, #{studentAddr}, SYSDATE)
    <!-- #{객체 멤버변수명 적어줌} -->
  </insert>
  <insert id="insertStudentMap"
    parameterType="map">
    insert into student values(seq_student.nextval, #{name}, #{tel}, #{email}, #{addr}, SYSDATE)
  </insert>


  <!-- select 태그는 반드시 result에 대한 처리가 필요함
    속성 resultType, resultMap 둘중 하나는 반드시 있어야 함
    resultType에 vo객체를 선언할 때 패키지명 까지 다 적어야함.
    mybatis-config 파일에 typeAlias로 vo객체를 지정하면
    별칭으로 사용이 가능~! -->
  <select id="selectCount" resultType="_int"> select count(*) from student </select>

  <!-- 
  <select id="selectOne" parameterType="_int" resultType="com.mybatis.model.vo.Student">
    select * from student where student_no= #{no}
  </select>
   -->
  <!--  이렇게 하면 null return함
  <select id="selectOne" parameterType="_int" resultType="com.mybatis.model.vo.Student2">
    select * from student where student_no= #{studentNo}
  </select>
   -->
  
  <!-- <select id="selectOne" parameterType="_int" resultType="com.mybatis.model.vo.Student2"> -->
  <!-- resultMap이용한 객체 맵핑하기 -->
  <select id="selectOne" parameterType="_int" resultType="com.mybatis.model.vo.Student2"
    resultMap="resultStudent">
   select * from student where student_no = #{studentNo}
 </select>
 
  <!-- type aliases type == 별칭 id==변수명 -->
  <resultMap type="student" id="resultStudent">
    <result property="studentNo" column="student_no" />
    <result property="studentName" column="student_name" />
    <result property="studentTel" column="student_tel" />
    <result property="studentEmail" column="student_email" />
    <result property="studentAddr" column="student_addr" />
    <result property="studentRegDate" column="reg_date" />
  </resultMap>

  <!-- map객체를 이용해서 조회결과 가져오기 -->
  <select id="selectOneMap" resultType="map" parameterType="_int">
    select * from student where student_no = #{no}
  </select>

  <!-- resultType: Student 각 행의 type -->
  <!--   <select id="selectListStudent" resultType="com.mybatis.model.vo.Student"> -->
  <!-- typealias stu 등록 -->
  <select id="selectListStudent" resultType="stu"> select * from student </select>

  <!-- 안됨 : <select id="selectListStudent2" resultType="student"> -->
  <select id="selectListStudent2" resultMap="resultStudent"> select * from student </select>

  <select id="selectListMap" resultType="map"> select * from student </select>

  <select id="selectSearchName" resultType="map" parameterType="string">
    select * from student where student_name like '%'||#{name}||'%'
  </select>

  <select id="selectSearchMulti" resultType="map" parameterType="map">
    select * from student
      where student_name like'%'||#{name}||'%'
        and student_email like '%'||#{email}||'%'
  </select>
  
  <update id="updateStudent" parameterType="map">
    update student set student_name = #{name},
                       student_email = #{email}
                   where student_no = #{no}
  </update>
  
  <delete id="deleteStudent" parameterType="_int">
    delete from student where student_no = #{no}
  </delete>

</mapper>