<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

  <!-- select할때 컬럼명을 맞추기위해 -->
  <typeAliases>
    <typeAlias type="com.mybatis.model.vo.Student" alias="stu"/>
    <typeAlias type="com.mybatis.model.vo.Student2" alias="student"/>
  </typeAliases>
  
  <!-- 서버 구동하면 xml 등록됨 -->
  <environments default="dev">
    <environment id="dev">
      <!-- 트랜젝션처리에 대한 설정 JDBC가 트랜젝션 처리 -->
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="student"/>
        <property name="password" value="student"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="/mappers/student/student-mapper.xml" />
  </mappers>
  
</configuration>
